$very-light-grey:#EEF0F1;
$light-grey:#E2E4E6;
$primary-blue:#3b49df;

* {
  font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  padding:0;
  margin:0;
}

body {
  background-color: $very-light-grey;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#headerbar {
  overflow: hidden;
}

.text-blue {
  color: $primary-blue;
}

.color-blue {
  background-color:$primary-blue;
  font-size: 18px;
  border: 1px solid $primary-blue;
}


.color-light-grey {
  background-color:$light-grey;
  font-size: 18px;
  border: 1px solid $light-grey;
  color: #333;
}

.btn-new {
  background-color:$primary-blue;
  font-size: 12px;
  border: 1px solid $primary-blue;
  border-radius: 6px;
  width: 45px;
}

.title-hx:hover {
  color: $primary-blue !important;
  text-decoration: none !important;
  list-style: none !important;
}

a:hover {
  text-decoration: none;
}

.btn-hover:hover {
  cursor: pointer !important;
  color: #333 !important;
}

.li-hov:hover {
  cursor: pointer;
  background-color: $light-grey;
  border-radius: 5px;
}

.icon-invert:hover {
  filter: invert(100%);
}

.icon-move {
  position: absolute;
  right: 40px;

  &:hover {
    transform: rotate(10deg);
  }
}

.border-gray {
  border-bottom: 1px solid #999 ;
}

.link-sw {
  color: #333;
  &:hover {
    background-color: $light-grey;
    border-radius: 5px;
  }
}

.link-active {
  border-bottom: 2px solid $primary-blue;
}

@media only screen and ( max-width: 766px ) {
  .padding-zero {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-right-icon {
    margin-right: 12px;
  }

  .text-movile {
    margin-left: 0;
    h2, h4 {
      font-size: 20px;
      margin-left: 0 !important;
    }

    nav {
      margin: 0 0 0 0 !important;

    }
  }

  .card-body-padding {
    padding: 12px;
  }
}